html {
  font-size: 62.5%;
}

nav.navbar {
    background-color: #89A6FB;
    height: 6rem;
    padding: 0 1rem;
}

div.collapse.navbar-collapse {
    justify-content: flex-end;
}

.navbar a.navbar-brand {
    font-size: 3rem;
    color: #ffffff;
}

.navbar li.nav-item a.nav-link {
    padding: 1rem;
    font-size: 2rem;
    color: #ffffff;
}
