{% extends 'base.html' %}
{% set active_page = "account" %}
{% block content %}
<div class="account-container">
    <div class="account-details">
        <div class="account-avatar-flex-container">
            <div class="account-avatar">
                <img class="avatar" src="{{ user.account_image }}" alt="">
            </div> 
            <button type="button" class="btn avatar-modal-button" data-bs-toggle="modal" data-bs-target="#avatar-select-modal">
                Update Image
            </button>
        </div>
        <div class="account-details-flex-container">
            <h2 class="account-details-username">{{ user.username }}</h2>
            <div class="account-details-information">
                <h4>User Since: {{ user.registration_date }}</h4>
                <h4>Posts: {{ user.posts_made }}</h4>
                <h4>Comments: {{ user.comments_made }}</h4>
                <h4>Plusses: {{ user.plusses}} </h4>
            </div>
        </div>
    </div>
</div>
<section class="main-container-account">
    <div class="page-option-container">
        <div class="page-option {% if active_tab=='posts' %} active-tab {% endif %}" id="display-tab-posts" onclick="tabDisplay('posts')">Your Posts</div>
        <div class="page-display-options"></div>
        <div class="page-option {% if active_tab=='plusses' %} active-tab {% endif %}" id="display-tab-plusses" onclick="tabDisplay('plusses')">Plussed Posts</div>
    </div>
    <div class="{% if active_tab=='posts' %} active-profile-tab {% endif %}user-post-container tab-display-option" id="posts-display">
        {% if userPosts|length > 0 %}
            <div class="card-container">
                {% for post in userPosts %}
                <div class=" post-card card">
                    <div class="post-id-target" id="{{ post._id }}"></div>
                    <div class="col-12 col-md-2 {{ post.topic_name }}-sidebar sidebar">
                        <div class="post-votes row">
                            {% if session.user %}
                                {% if post._id in plussed_posts %}
                                    <a href="{{ url_for('vote', post_id=post._id, user_location='account', author=post.author) }}"><i class="col-12 fas fa-check"></i></a>
                                    <p class="col-12 post-pluses">{{ post.pluses }}</p>
                                {% else %}
                                    <a href="{{ url_for('vote', post_id=post._id, user_location='account', author=post.author) }}"><i class="col-12 fas fa-plus"></i></a>
                                    <p class="col-12 post-pluses">{{ post.pluses }}</p>
                                {% endif %}
                            {% else %}
                                <a href="{{ url_for('vote', post_id=post._id, user_location='account', author=post.author) }}"><i class="col-12 fas fa-plus"></i></a>
                                <p class="col-12 post-pluses">{{ post.pluses }}</p>
                            {% endif %}
                            
                        </div>
                        <div class="post-comments row">
                            <button class="unstyled-button" onclick="displayCommentForm('{{ post._id }}')"><i class="col-12 fas fa-comments"></i></button>
                            <p class="col-12 post-pluses">Engage</p>
                        </div>
                        <div class="comment-post-link row">
                            <a class="unstyled-button comment-link-icon" href="{{ url_for('post_details', post_id=post._id, user_location='account') }}"><i class="fas fa-arrow-circle-left"></i></a>
                            <p class="comment-link-text">View Post</p>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="post-details">
                            <div class="post-top">
                                <div class="post-title-options">
                                    <h4 class="{{ post.topic_name }} post-topic">{{ post.topic_name }}</h4>
                                    {% if session['user'] == post.author or session['user'] == "admin" %}
                                        <button class="post-option-dropdown hvr-icon-spin" onclick="displayDropdown('{{ post._id }}')"><i class="{{ post.topic_name }} fas fa-cog hvr-icon"></i></button>
                                    {% endif %}
                                    <div class="post-edit-options {{ post.topic_name }}-sidebar" id="post-options-{{ post._id }}">
                                        <a class="{{ post.topic_name }}" href="{{ url_for('delete_post', post_id=post._id) }}"><h4>Delete Post</h4><i class="fas fa-trash-alt"></i></a>
                                        <a class="{{ post.topic_name }}" href="{{ url_for('edit_post', post_id=post._id, prev_location='account') }}"><h4>Edit Post</h4><i class="fas fa-pencil-alt"></i></a>
                                    </div>
                                </div>
                                <h3 class="post-title">{{ post.post_title }}</h3>
                                <p class="post-text">{{ post.post_content }}</p>
                                <a class="expand-post"  onclick="expandPost(this)"><i class="fas fa-arrow-down"></i>Expand Post<i class="fas fa-arrow-down"></i></a>
                            </div>
                            <div class="post-bottom">
                                <div class="post-date-container">
                                    <div class="spacer-div"></div>
                                    <p class="post-date">{{ post.post_date }}</p>
                                </div>
                                <div class="post-author-details">
                                    <div class="post-author-avatar-container">
                                        <img src="{% for user in users %}{% if user.username==post.author %}{{ user.account_image }}{% endif %}{% endfor %}" class="post-author-avatar" alt="">
                                    </div>
                                    <p class="post-author">{{ post.author }}</p>
                                </div>
                            </div>
                        </div>
                        <div id="create-comment-form-{{ post._id }}" class="create-comment-form">
                            <hr class="comment-divider">
                            <form method="POST" action="{{ url_for('add_comment', post_id=post._id, user_location='posts') }}">
                                <textarea class="form-control comment-form-textarea"  type="text" id="comment_content" name="comment_content" placeholder="Enter Your Comment Here" rows="" cols=""></textarea>
                                <button class="form-control button-confirm comment-form-button" type="submit">Submit</button>
                            </form>
                        </div>
                        {% if post.comments|length > 0 %}
                            <div id="post-comments-{{ post._id }}" class="post-comment-container">
                                {% for comment in post.comments %}
                                    <hr class="comment-divider">
                                    <div class="comment-div">
                                        <p class="post-comment">{{ comment.comment_content }}</p>
                                        <h4 class="post-comment-author">{{ comment.author}}</h4>
                                    </div>  
                                {% endfor%}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="post-pagination-container">
                    {{ pagination_posts.links }}
                </div>
            </div>
        {% else %}
            <h2 class="profile-alternate-text">You haven't created any posts yet!</h2>
        {% endif %}
    </div>
    <div class="{% if active_tab=='plusses' %} active-profile-tab {% endif %}user-plusses-container tab-display-option" id="plusses-display">
        {% if userPlusses|length > 0 %}
            <div class="card-container">
                {% for post in userPlusses %}
                    {% if  post.author != session['user'] %}
                        <div class=" post-card card">
                    <div class="post-id-target" id="{{ post._id }}"></div>
                    <div class="col-12 col-md-2 {{ post.topic_name }}-sidebar sidebar">
                        <div class="post-votes row">
                            {% if session.user %}
                                {% if post._id in plussed_posts %}
                                    <a href="{{ url_for('vote', post_id=post._id, user_location='account', author=post.author) }}"><i class="col-12 fas fa-check"></i></a>
                                    <p class="col-12 post-pluses">{{ post.pluses }}</p>
                                {% else %}
                                    <a href="{{ url_for('vote', post_id=post._id, user_location='account', author=post.author) }}"><i class="col-12 fas fa-plus"></i></a>
                                    <p class="col-12 post-pluses">{{ post.pluses }}</p>
                                {% endif %}
                            {% else %}
                                <a href="{{ url_for('vote', post_id=post._id, user_location='account', author=post.author) }}"><i class="col-12 fas fa-plus"></i></a>
                                <p class="col-12 post-pluses">{{ post.pluses }}</p>
                            {% endif %}
                            
                        </div>
                        <div class="post-comments row">
                            <button class="unstyled-button" onclick="displayCommentForm('{{ post._id }}')"><i class="col-12 fas fa-comments"></i></button>
                            <p class="col-12 post-pluses">Engage</p>
                        </div>
                        <div class="comment-post-link row">
                            <a class="unstyled-button comment-link-icon" href="{{ url_for('post_details', post_id=post._id, user_location='account') }}"><i class="fas fa-arrow-circle-left"></i></a>
                            <p class="comment-link-text">View Post</p>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="post-details">
                            <div class="post-top">
                                <div class="post-title-options">
                                    <h4 class="{{ post.topic_name }} post-topic">{{ post.topic_name }}</h4>
                                    {% if session['user'] == post.author or session['user'] == "admin" %}
                                        <button class="post-option-dropdown hvr-icon-spin" onclick="displayDropdown('{{ post._id }}')"><i class="{{ post.topic_name }} fas fa-cog hvr-icon"></i></button>
                                    {% endif %}
                                    <div class="post-edit-options {{ post.topic_name }}-sidebar" id="post-options-{{ post._id }}">
                                        <a class="{{ post.topic_name }}" href="{{ url_for('delete_post', post_id=post._id) }}"><h4>Delete Post</h4><i class="fas fa-trash-alt"></i></a>
                                        <a class="{{ post.topic_name }}" href="{{ url_for('edit_post', post_id=post._id, prev_location='account') }}"><h4>Edit Post</h4><i class="fas fa-pencil-alt"></i></a>
                                    </div>
                                </div>
                                <h3 class="post-title">{{ post.post_title }}</h3>
                                <p class="post-text">{{ post.post_content }}</p>
                                <a class="expand-post"  onclick="expandPost(this)"><i class="fas fa-arrow-down"></i>Expand Post<i class="fas fa-arrow-down"></i></a>
                            </div>
                            <div class="post-bottom">
                                <div class="post-date-container">
                                    <div class="spacer-div"></div>
                                    <p class="post-date">{{ post.post_date }}</p>
                                </div>
                                <div class="post-author-details">
                                    <div class="post-author-avatar-container">
                                        <img src="{% for user in users %}{% if user.username==post.author %}{{ user.account_image }}{% endif %}{% endfor %}" class="post-author-avatar" alt="">
                                    </div>
                                    <p class="post-author">{{ post.author }}</p>
                                </div>
                            </div>
                        </div>
                        <div id="create-comment-form-{{ post._id }}" class="create-comment-form">
                            <hr class="comment-divider">
                            <form method="POST" action="{{ url_for('add_comment', post_id=post._id, user_location='posts') }}">
                                <textarea class="form-control comment-form-textarea"  type="text" id="comment_content" name="comment_content" placeholder="Enter Your Comment Here" rows="" cols=""></textarea>
                                <button class="form-control button-confirm comment-form-button" type="submit">Submit</button>
                            </form>
                        </div>
                        {% if post.comments|length > 0 %}
                           <div id="profile-plussed-post-comments-{{ post._id }}" class="post-comment-container">
                                {% for comment in post.comments %}
                                    <hr class="comment-divider">
                                    <div class="comment-div">
                                        <p class="post-comment">{{ comment.comment_content }}</p>
                                        <h4 class="post-comment-author">{{ comment.author}}</h4>
                                    </div>  
                                {% endfor%}
                            </div>
                        {% endif %}
                    </div>
                </div>
                    {% endif%}
                {% endfor %}
                <div class="post-pagination-container">
                    {{ pagination_plussed.links }}
                </div>
            </div>
        {% else %}
            <h2 class="profile-alternate-text">You haven't voted on any posts yet!<br><br> Click the <i class="fas fa-plus"></i> symbol on posts you like to save them here</h2>
        {% endif %}
    </div>
</section>
            
<div class="modal" id="avatar-select-modal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Update Account Image</h5>
            <button type="button" class="close close-avatar-modal" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="change-account-avatar">
                <form  method="POST" action="{{ url_for('edit_avatar', username=user.username) }}" class="change-account-avatar-form">
                    <h3 class="avatar-select-modal-subheading">Input the URL of an image you want to use</h3>
                    <label class="modal-direct-input">
                        <input type="radio" name="avatar_select" value="direct_input" id="direct-url-input-radio" class="" {% if user.directly_input_url == True %}checked{% endif %} required>
                        <input type="text" name="avatar_direct_input" placeholder="Enter a valid image url" id="direct-input-image-url" class="form-control direct-input-text-field" {% if user.directly_input_url == True %} value={{ user.account_image }} {% endif %}>
                    </label>
                    <h3 class="avatar-select-modal-subheading">Or select an avatar to represent you</h3>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_1.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_1.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_1.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_2.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_2.png" %}checked{% endif %}">
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_2.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_3.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_3.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_3.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_4.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_4.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_4.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_5.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_5.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_5.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_6.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_6.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_6.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_7.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_7.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_7.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_8.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_8.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_8.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_9.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_9.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_9.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_10.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_10.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_10.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_11.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_11.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_11.png">
                    </label>
                    <label>
                        <input type="radio" name="avatar_select" value="/static/images/avatar_images/avatar_12.png" class="avatar-select-radio" {% if user.account_image == "/static/images/avatar_images/avatar_12.png" %}checked{% endif %}>
                        <img class="avatar-select" src="/static/images/avatar_images/avatar_12.png">
                    </label>
                    <div class="modal-footer">
                        <button type="button" class="button-cancel modal-button close-avatar-modal" data-dismiss="modal">Close</button>
                        <input type="submit" class="modal-button button-confirm" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}