{% extends "base.html" %}
{% block content %}

<div class="title-container">
    <h1 class="page-title">Home</h1>
</div>
<section class="main-container">
    <form class="filter-options" method="POST" action="{{ url_for('filter_posts') }}">
        <div class="filter-div">
            <label for="sort-by-dropdown" class="filter-control">Sort By:</label>
            <select name="sort-by-dropdown" id="sort-by-dropdown" class="filter-control">
                <option value="pluses">Most Popular</option>
                <option value="post_date">Newest</option>
            </select>
        </div>
        <div class="filter-div">
            <label for="filter-dropdown" class="filter-control">Filter By:</label>
            <select class="filter-control" name="filter-dropdown" id="filter-dropdown">
                    <option class="filter-control" value="all">All Topics</option>
                {% for topic in topics %}
                    <option class="filter-control" value="{{ topic.topic_name }}">{{ topic.topic }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="filter-control" onclick="{{ url_for('get_posts') }}">Go</button>
    </form>
    {% if posts|length > 0 %}
        <div class="card-container">
            {% for post in posts %}
                <div class=" post-card card">
                    <div class="post-id-target" id="{{ post._id }}"></div>
                    <div class="col-12 col-md-2 {{ post.topic_name }}-sidebar sidebar">
                        <div class="post-votes row">
                            <a href="{{ url_for('vote', post_id=post._id) }}"><i class="col-12 fas fa-plus"></i></a>
                            <p class="col-12 post-pluses">{{ post.pluses }}</p>
                        </div>
                        <div class="post-comments row">
                            <i class="col-12 fas fa-comments"></i>
                            <p class="col-12 post-pluses">Engage</p>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="post-details col col-md-10">
                            <div class="post-top">
                                <div class="post-title-options">
                                    <h4 class="{{ post.topic_name }} post-topic">{{ post.topic_name }}</h4>
                                    {% if session['user'] == post.author or session['user'] == "admin" %}
                                        <button class="post-option-dropdown hvr-icon-spin" onclick="displayDropdown('{{ post._id }}')"><i class="{{ post.topic_name }} fas fa-cog hvr-icon"></i></button>
                                    {% endif %}
                                    <div class="post-edit-options {{ post.topic_name }}-sidebar" id="post-options-{{ post._id }}">
                                        <a class="{{ post.topic_name }}" href="{{ url_for('delete_post', post_id=post._id) }}"><h4>Delete Post</h4><i class="fas fa-trash-alt"></i></a>
                                        <a class="{{ post.topic_name }}" href="{{ url_for('edit_post', post_id=post._id) }}"><h4>Edit Post</h4><i class="fas fa-pencil-alt"></i></a>
                                    </div>
                                </div>
                                <h3 class="post-title">{{ post.post_title }}</h3>
                                <h5 class="post-author mb-2 text-muted">{{ post.author }}</h5>
                                <p class="post-text">{{ post.post_content }}</p>
                            </div>
                            <div class="post-bottom">
                                <p class="post-date">{{ post.post_date }}</p>
                                {% if post.comments|length > 0 %}
                                    <p class="post-comment-count" onclick="displayComments('{{ post._id }}')">Show comments({{ post.comments|length }})</p>
                                {% else %}
                                    <p class="post-comment-count">Be the first to comment</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if post.comments|length > 0 %}
                            <div id="post-comments-{{ post._id }}" class="post-comment-container">
                                {% for comment in post.comments %}
                                <hr class="comment-divider">
                                <div class="comment-div">
                                    <h4 class="post-comment">{{ comment.comment_content }}</h4>
                                    <h4 class="post-comment-author">{{ comment.author}}</h4>
                                </div>  
                                {% endfor%}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</section>

{% endblock %}