{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}

<div class="title-container">
    <h1 class="page-title">Home</h1>
</div>
<section class="main-container">
    <form class="filter-options" method="GET" action="{{ url_for('posts') }}">
        <div class="filter-div">
            <label for="sort-by-dropdown" class="filter-control">Sort By:</label>
            <select name="sort-by" id="sort-by-dropdown" class="filter-control">
                <option value="post_date">Newest</option>
                <option value="pluses">Most Popular</option>
            </select>
        </div>
        <div class="filter-div">
            <label for="filter-dropdown" class="filter-control">Filter By:</label>
            <select class="filter-control" name="topic" id="filter-dropdown">
                    <option class="filter-control" value="all">All Topics</option>
                {% for topic in topics %}
                    <option class="filter-control" value="{{ topic.topic_name }}">{{ topic.topic }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="filter-control" onclick="{{ url_for('posts') }}">Go</button>
    </form>
    {% if posts|length > 0 %}
        <div class="card-container">
            {% for post in posts %}
                <div class=" post-card card">
                    <div class="post-id-target" id="{{ post._id }}"></div>
                    <div class="col-12 col-md-2 {{ post.topic_name }}-sidebar sidebar">
                        <div class="post-votes row">
                            {% if session.user %}
                                {% if post._id in user_pluses %}
                                    <a href="{{ url_for('vote', post_id=post._id, user_location='posts') }}"><i class="col-12 fas fa-check"></i></a>
                                    <p class="col-12 post-pluses">{{ post.pluses }}</p>
                                {% else %}
                                    <a href="{{ url_for('vote', post_id=post._id, user_location='posts') }}"><i class="col-12 fas fa-plus"></i></a>
                                    <p class="col-12 post-pluses">{{ post.pluses }}</p>
                                {% endif %}
                            {% else %}
                                <a href="{{ url_for('vote', post_id=post._id, user_location='posts') }}"><i class="col-12 fas fa-plus"></i></a>
                                <p class="col-12 post-pluses">{{ post.pluses }}</p>
                            {% endif %}
                            
                        </div>
                        <div class="post-comments row">
                            <button class="unstyled-button" onclick="displayCommentForm('{{ post._id }}')"><i class="col-12 fas fa-comments"></i></button>
                            <p class="col-12 post-pluses">Engage</p>
                        </div>
                        <div class="comment-post-link row">
                            <a class="unstyled-button comment-link-icon" href="{{ url_for('post_details', post_id=post._id, user_location='posts') }}"><i class="fas fa-arrow-circle-left"></i></a>
                            <p class="comment-link-text">View Post</p>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="post-details">
                            <div class="post-top">
                                <div class="post-title-options">
                                    <h4 class="{{ post.topic_name }} post-topic">{{ post.topic_name }}</h4>
                                    {% if session['user'] == post.author or session['user'] == "admin" %}
                                        <button class="post-option-dropdown hvr-icon-spin" onclick="displayDropdown('{{ post._id }}')"><i class="{{ post.topic_name }} fas fa-cog hvr-icon"></i></button>
                                    {% endif %}
                                    <div class="post-edit-options {{ post.topic_name }}-sidebar" id="post-options-{{ post._id }}">
                                        <a class="{{ post.topic_name }}" href="{{ url_for('delete_post', post_id=post._id) }}"><h4>Delete Post</h4><i class="fas fa-trash-alt"></i></a>
                                        <a class="{{ post.topic_name }}" href="{{ url_for('edit_post', post_id=post._id, prev_location='posts') }}"><h4>Edit Post</h4><i class="fas fa-pencil-alt"></i></a>
                                    </div>
                                </div>
                                <h3 class="post-title">{{ post.post_title }}</h3>
                                <p class="post-text">{{ post.post_content }}</p>
                                <a class="expand-post"  onclick="expandPost(this)"><i class="fas fa-arrow-down"></i>Expand Post<i class="fas fa-arrow-down"></i></a>
                            </div>
                            <div class="post-bottom">
                                <div class="post-date-container">
                                    <div class="spacer-div"></div>
                                    <p class="post-date">{{ post.post_date }}</p>
                                </div>
                                <div class="post-author-details">
                                    <div class="post-author-avatar-container">
                                        <img src="{% for user in users %}{% if user.username==post.author %}{{ user.account_image }}{% endif %}{% endfor %}" class="post-author-avatar" alt="">
                                    </div>
                                    <p class="post-author">{{ post.author }}</p>
                                </div>
                            </div>
                        </div>
                        <div id="create-comment-form-{{ post._id }}" class="create-comment-form">
                            <hr class="comment-divider">
                            <form method="POST" action="{{ url_for('add_comment', post_id=post._id, user_location='posts') }}">
                                <textarea class="form-control comment-form-textarea"  type="text" id="comment_content" name="comment_content" placeholder="Enter Your Comment Here" rows="" cols=""></textarea>
                                <button class="form-control button-confirm comment-form-button" type="submit">Submit</button>
                            </form>
                        </div>
                        {% if post.comments|length > 0 %}
                            <div id="post-comments-{{ post._id }}" class="post-comment-container">
                                {% for comment in post.comments %}
                                    <hr class="comment-divider">
                                    <div class="comment-div">
                                        <p class="post-comment">{{ comment.comment_content }}</p>
                                        <h4 class="post-comment-author">{{ comment.author}}</h4>
                                    </div>  
                                {% endfor%}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</section>
<div class="create-post-button-container">
    <div class="absolute-div">
        <button id ="floating-create-post" class="create-post-action-button"  type="submit">
            <a href="{{ url_for('create_post') }}">
                <i class="fas fa-plus"></i>
            </a>
        </button>
        <label id="floating-create-post-label" for="floating-create-post">Create Post</label>
    </div>
</div>
{% endblock %}