{% extends 'base.html' %}
{% block content %}
<div class="title-container">
    <h1 class="page-title">Topics</h1>
</div>
<section class="main-container">
    <div class="topic-card-container row">
        <div class="topic-card">
            <div class="card-inner">
                <div class="card-img-container">
                    <img class="topic-card-img" src="static/images/all-topics.jpg" alt="">
                </div>
                <div class="topic-card-body general-sidebar">
                    <h5 class="topic-card-title">All Topics</h5>
                </div>
            </div>
        </div>
        <div class="topic-card">
            <div class="card-inner">
                <div class="card-img-container">
                    <img class="topic-card-img" src="static/images/sports.jpg" alt="Image of Footballer">
                </div>
                <div class="topic-card-body sport-sidebar">
                    <h5 class="topic-card-title">Sport</h5>
                </div>
            </div>
        </div>
        <div class="topic-card">
            <div class="card-inner">
                <div class="card-img-container">
                    <img class="topic-card-img" src="static/images/entertainment.jpg" alt="Image of Singer">
                </div>
                <div class="topic-card-body entertainment-sidebar">
                    <h5 class="topic-card-title">Entertainment</h5>
                </div>
            </div>
        </div>
        <div class="topic-card">
            <div class="card-inner">
                <div class="card-img-container">
                    <img class="topic-card-img" src="static/images/global-news.jpg" alt="Image of Police">
                </div>
                <div class="topic-card-body news-sidebar">
                    <h5 class="topic-card-title">Global News</h5>
                </div>
            </div>
        </div>
        <div class="topic-card">
            <div class="card-inner">
                <div class="card-img-container">
                    <img class="topic-card-img" src="static/images/politics.jpg" alt="Image of capitol building">
                </div>
                <div class="topic-card-body politics-sidebar">
                    <h5 class="topic-card-title">Politics</h5>
                </div>
            </div>
        </div>
        <div class="topic-card">
            <div class="card-inner">
                <div class="card-img-container">
                    <img class="topic-card-img" src="static/images/thoughts.jpg" alt="Image of paper with idea written on it">
                </div>
                <div class="topic-card-body general-sidebar">
                    <h5 class="topic-card-title">General Thoughts</h5>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
