{% extends 'base.html' %}
{% block content %}
<div class="title-container">
    <h1 class="page-title">Topics</h1>
</div>
<section class="main-container">
    <div class="topic-card-container row">
        {% for topic in topics %}
            <div class="topic-card">
                <div class="card-inner">
                    <div class="card-img-container">
                        <img class="topic-card-img" src="static/images/{{topic.topic_name}}.jpg" alt="">
                    </div>
                    <div class="topic-card-body {{ topic.topic_name }}-sidebar">
                        <h5 class="topic-card-title">{{ topic.topic }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</section>

{% endblock %}
